/* Portfolio Container */

.card {
    background-color: rgba(96, 144, 172, 0.6);
}

.card-title {
    color: rgba(57, 95, 117, 0.6);
    text-align: center;
    letter-spacing: 2px; 
       
}

a:not([href]) {
    color: white;
    text-decoration: none;  
  }