/* Footer */

footer {
    color: black;
}

footer h5 {
    text-align: center;
    font-family: Gloss and Bloom;
    letter-spacing: 2px;
}

#CopyR {
    font-family: Gloss and Bloom;
    text-align: center;
}

#MainLinks {
    color: black;

}

#SitesOf {
    color: black;
}