/* About Me Section */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap');

#jumbo {
    padding-top: 20px;
}

.jumbotron {
    padding: 2rem 2rem;
    border-radius: 0;
    margin-top: 60px;
    background-color: rgba(96, 144, 172, 0.6);
}

#About {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
}